.search-list {
    position: absolute;
    top: 50px;
    height: auto;
    max-height: 300px;
    width: 100%;
    z-index: 3;
    display: none;
}

.top-navbar {
    z-index: 2;
}

.bottom-navbar {
    z-index: 1;
}